:root {
    --bg: #ffffff;
    --dark: #191919;
    --green: #1b562c;
    --grey: #b8b8b8;
    --white: #ffffff;
    --violet: #8b57c6;
    --violet-dark: #6c3eb8;
    --light: #0000b4;
    --sea: #616e74;
}
